.main 
  display: flex
  height: 100vh
  align-items: stretch
  background-color: #000

.container
  display: flex
  width: 100vw
  position: relative
  justify-content: center
  position: relative
  // width: calc(100% - 230px)

  img
    opacity: .2


.content
  margin: 2rem 0
  position: absolute
  display: block
  justify-content: center
  flex-direction: column
  width: 500px
  background-color: #fff   
  padding: 1rem
  border-radius: 20px 

  h1
    font-size: 2rem
    text-align: center
    margin-bottom: 1.5rem

  .item
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 1.25rem
    margin-bottom: 1.5rem

    #risk
      option:not(:last-child)
        padding: 10px

    #balance,#risk,#stop-loss-point
      text-align: center
      height: 50px
      font-size: 1rem
      padding: .1rem
      width: 50%
      background-color: #93CC8A
      border: 1px solid #000
      transition: .3s
      
      &:hover
        cursor: pointer
        border-radius: 10px

        

  #calculate
    width: 100%
    font-size: 1.10rem
    padding: .5rem
    border: none
    border-radius: 0.5rem
    background-color: #0A8F00
    font-weight: bold
    transition: .4s
    margin-bottom: 1.5rem

    &:hover
      background-color: #0a6e03
      color: #fff
      cursor: pointer

  .result
    display: flex
    justify-content: space-between

    .stop-loss, .lot-size
      display: flex
      flex-direction: column
      justify-content: space-evenly
      text-align: center
      height: 150px
      width: 40%
      padding: 0.75rem
      background-color: #47CC3D
      border-radius: 15px

      span
        font-weight: 700

        
