* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.left-sidebar {
  position: fixed;
  min-width: 230px;
  max-width: 230px;
  background-color: #003106;
  margin-left: -170px;
  transition: all 0.3s;
  z-index: 999;
  filter: drop-shadow(0 0px 10px #001a03) drop-shadow(0 10px 1px #001a03);
}
.left-sidebar #sidebar {
  position: fixed;
  top: 0;
}
.left-sidebar .menu {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-decoration: none;
  text-align: end;
  color: #fff;
  background-color: #001a03;
  padding: 1rem;
}
.left-sidebar .content-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  overflow-y: auto;
}
.left-sidebar .content-sidebar img {
  max-width: 200px;
  height: 100px;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.left-sidebar .content-sidebar img:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.left-sidebar .menu-item {
  text-align: center;
  width: 90%;
  padding-bottom: 1rem;
  border-bottom: 3px solid rgba(12, 63, 1, 0.431372549);
}

.active {
  margin-left: 0;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  height: 100vh;
  align-items: stretch;
  background-color: #000;
}

.container {
  display: flex;
  width: 100vw;
  position: relative;
  justify-content: center;
  position: relative;
}
.container img {
  opacity: 0.2;
}

.content {
  margin: 2rem 0;
  position: absolute;
  display: block;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 20px;
}
.content h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.content .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.content .item #risk option:not(:last-child) {
  padding: 10px;
}
.content .item #balance, .content .item #risk, .content .item #stop-loss-point {
  text-align: center;
  height: 50px;
  font-size: 1rem;
  padding: 0.1rem;
  width: 50%;
  background-color: #93CC8A;
  border: 1px solid #000;
  transition: 0.3s;
}
.content .item #balance:hover, .content .item #risk:hover, .content .item #stop-loss-point:hover {
  cursor: pointer;
  border-radius: 10px;
}
.content #calculate {
  width: 100%;
  font-size: 1.1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0A8F00;
  font-weight: bold;
  transition: 0.4s;
  margin-bottom: 1.5rem;
}
.content #calculate:hover {
  background-color: #0a6e03;
  color: #fff;
  cursor: pointer;
}
.content .result {
  display: flex;
  justify-content: space-between;
}
.content .result .stop-loss, .content .result .lot-size {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 150px;
  width: 40%;
  padding: 0.75rem;
  background-color: #47CC3D;
  border-radius: 15px;
}
.content .result .stop-loss span, .content .result .lot-size span {
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
